<h1>Users List</h1>
<div>
  <% @users.each do |user| %>
  <div class="card f-flex flex-row w-100">
    <div class="w-33" style="flex: 1; overflow: hidden;">
      <img src="..." class="card-img-top" alt="..." style="width: 100%; height: auto;">
    </div>
    <div class="card-body d-flex flex-column justify-content-between h-100" style="width: 66.66%; padding: 1rem;">
      <h5 class="card-title">
        <%=link_to user.name, user_path(user),
        class:"text-decoration-none fs-4 fw-bold"
        %>
      </h5>
      <h6 class="text-end text-muted">Number of Posts: <%=user.posts_counter %></h6>
    </div>
  </div>
  <% end %>
</div>